In [1]:
import pandas as pd

In [13]:
tsv1 = pd.read_csv("Main_Raw.tsv", sep = "\t")
tsv2 = pd.read_csv("Main_Simple.tsv",  sep = "\t")
tsv2 = tsv2.drop(columns="date")

                                      name        date hct
0              hCoV-19/USA/WA-UW-2230/2020  2020-03-25  no
1              hCoV-19/USA/WA-UW-3990/2020  2020-03-29  no
2                  hCoV-19/USA/WA-S81/2020  2020-02-26  no
3                 hCoV-19/USA/WA-S129/2020  2020-03-13  no
4                 hCoV-19/USA/WA-S280/2020  2020-03-09  no
...                                    ...         ...  ..
136026      hCoV-19/USA/WA-PHL-030140/2020  2020-04-04  no
136027      hCoV-19/USA/WA-PHL-030141/2020  2020-04-04  no
136028  hCoV-19/USA/WA-OHSU-222900050/2022  2022-07-22  no
136029  hCoV-19/USA/WA-OHSU-222920179/2022  2022-09-20  no
136030  hCoV-19/USA/WA-OHSU-222920160/2022  2022-09-21  no

[136031 rows x 3 columns]

In [17]:
final_tsv = pd.merge(tsv1, tsv2, left_on = "strain", right_on= "name")

In [38]:
final_tsv = final_tsv[final_tsv.strain.duplicated() == False]

In [39]:
final_tsv.to_csv("metadata.tsv", sep= "\t")